@{
    ViewData["Title"] = "About";
}

<div class="p-5 bg-light rounded-3 border text-center mb-4">
    <h1 class="display-5 fw-bold">About</h1>
    <div class="row justify-content-center">
        <div class="col-3 col-md-1">
            <span class="material-icons-outlined md-36">
                help_center
            </span>
        </div>
        <div class="col-3 col-md-1">
            <span class="material-icons-outlined md-36">
                handyman
                </span>
        </div>
        <div class="col-3 col-md-1">
            <span class="material-icons-outlined md-36">
                pending
            </span>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <p class="fs-4">
            Here you can learn all about this website, its purpose, and how it came to be.
        </p>

        <p class="fs-4">
            <span class="fw-bold">goto</span> is a project made for CIT218's Term Project assignment and is a website focused
            on posting, searching, and finding local events.
        </p>
    </div>
</div>