@{
    ViewData["Title"] = "Contact";
}

<div class="p-5 bg-light rounded-3 border text-center mb-4">
    <h1 class="display-5 fw-bold">Contact</h1>
</div>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="container-fluid m-2 py-3">
            <p class="fs-5">
                Please get in touch with us with any of your queries!
                Drop us an email and we'll get back to you <span class="fst-italic">ASAP!</span>
            </p>

            <div class="row p-3 bg-danger rounded-3 text-white">
                <span class="material-icons-outlined md-36">
                    warning
                </span>
                <p>
                    We've received a large number of complaints regarding our average response time. We are currently working
                    on this issue and hope to have a solution soon. Please try again later.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid m-2 py-3 border rounded-3 bg-light">
            <div class="row mb-3">
                <h2 class="display-6 text-center">Contact Us</h2>
            </div>

            <div class="row">
                <p class="fs-5 d-inline-flex align-items-center text-wrap" style="gap: .5rem;">
                    <span class="material-icons-outlined md-24">
                        email
                    </span>
                    <a href="mailto:helloworld@loremipsum.com" class="link-primary m text-decoration-none">helloworld@loremipsum.com</a>
                </p>
                <p class="fs-5 d-inline-flex align-items-start text-wrap" style="gap: .5rem;">
                    <span class="material-icons-outlined md-24">
                        place
                    </span>
                    P Sherman <br />
                    42 Wallaby Way <br />
                    Sydney
                </p>

                <p class="fs-5 d-inline-flex align-items-center text-wrap" style="gap: .5rem;">
                    <span class="material-icons-outlined md-24">
                        call
                    </span>
                    (123) 111 - 9876
                </p>
            </div>
        </div>
    </div>
</div>