@{
    ViewData["Title"] = "Home Page";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Kyle's CIT218 Term Project</h1>
        <p class="col-md-8 fs-4">
            I couldn't find the project requirements on Moodle so I have no idea what kind of website this is going to be.<br />
            Until then, enjoy a few pictures of my cat Emmy!
        </p>
    </div>
</div>

<div class="row bg-dark rounded-3 p-3">
    <div class="col-md-4 mb-3 mb-md-0">
        <img src="~/Images/emmy1.jpg" alt="Emmy 1" class="img-fluid rounded-1" />
    </div>
    
    <div class="col-md-4 mb-3 mb-md-0">
        <img src="~/Images/emmy2.jpg" alt="Emmy 2" class="img-fluid rounded-1" />
    </div>

    <div class="col-md-4">
        <img src="~/Images/emmy3.jpg" alt="Emmy 3" class="img-fluid rounded-1" />
    </div>
</div>