@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We adhere to the privacy policy as outlined by PrivacyPolicies.com Generic.</p>

<a href="https://www.privacypolicies.com/generic/" class="btn btn-primary">Click to view Privacy Policy</a>
