@model TermProject.Models.EventAttendance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Event Attendance</h1>

<div>
    <hr />
    <p class="fs-4 py-3 px-5 bg-dark text-light rounded-3 box-shadow" style="max-width: fit-content;">
        The user with email 
        <span class="fst-italic">@Model?.User?.Email</span>
        has confirmed
        <span class="fw-bold">@Html.DisplayFor(modelItem => Model!.Status)</span>
        for event
        <a asp-area="" asp-controller="Events" asp-action="Details" asp-route-id="@Model?.EventId">
            @Model?.Event?.Name
        </a>
    </p>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger">Delete</a>
</div>
